@import "../variable/_variable.scss";



.container-dialog-body {
    margin-top: 10px;
    padding: 10px;
}
.container-dialog-footer {
    margin-top:10px;
    border-top: 2px solid $gray-color20;
    padding:10px;
    

}
