.input-forms {
    width: 100%;
    border: 1px solid $gray-color;
    color: $gray-color;
    font-size: 13px;
    font-weight: 400;
    padding: 9px 10px;   
    border-radius: 7px;
    background-color: #fff;

}
