@page "/login"

<div class="container-login">
    <div class="login-forms">
        <h5 class="title-forms">Login</h5>       
        <input class="input-forms" placeholder="your email" type="email" />
        <input class="input-forms" placeholder="your password" type="password" />
        <button class="btn-ok">Login</button>
    </div>
</div>
