$red-color: #FF7B74;
$red-colorhls: #FF7B7485;
$gray-color: #575757;
$gray-color20: #57575720;
$bg-image: url(../../../wwwroot/images/body.jpg) 0 0 repeat;
$or: #DBBC94 ;
$bg-header-home: url(../../../wwwroot/images/recipe_home.jpeg) 0 0 repeat;